<center><p id="notice"><%= notice %></p></center>
<div id="form-css">
<p>
  <b>Type:</b>
  <%= @type.Type %>
</p>

<%= link_to 'Edit', edit_type_path(@type) %> |
<%= link_to 'Back', types_path %>
</div>
