<center><p id="notice"><%= notice %></p></center>
<div id="form-css">
<p>
  <b>Size:</b>
  <%= @size.size %>
</p>


<%= link_to 'Edit', edit_size_path(@size) %> |
<%= link_to 'Back', sizes_path %>
</div>
